.staging-desc {
        margin-top:20px;
}

.staging-main-section {
        margin-top:20px;
}

.custom-table {
        padding-top:10px;
}

.custom-table-submit {
      display: block;
      margin-top:20px;
      width: 20%;
      margin: 0 auto;
}
