.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.vertical {
      display: block;
      text-align: center;
}

.checkbox-custom-label.checkbox-disabled {
        text-decoration: line-through;
}

.horizontal {
      display:inline-block;
}

.checkbox-custom-label {
  margin: 0 auto;
  color:#7d7d7d;
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background-image: url('../../static/img/CheckBox_Unchecked.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 24px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: '';
  background-image: url('../../static/img/CheckBox_Checked.png');
  background-repeat: no-repeat;
}
